<html>

    <form action="saveuser" method="post">
        <table>
            <tr>
                <td> user name: </td>
                <td> <input type="text" name="uname"/></td>
            </tr>

            <tr>
                <td> user Password: </td>
                <td> <input type="text" name="upass"/></td>
            </tr>

            <tr>
                <td> user type: </td>
                <td> <input type="text" name="utype"/></td>
            </tr>

            <tr>
                <td> user Remarks: </td>
                <td> <input type="text" name="uremarks"/></td>
            </tr>

            <tr>
                <td><a href="list"> List User </a></td>
                <td><input type="submit" value="Register"/></td>
            </tr>
        </table>
    </form>
</html>